@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


@font-face {
    font-family: 'Gilroy';
    src: url('/assets/font/Gilroy-Light.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/assets/font/Gilroy-ExtraBold.otf');
    font-weight: 800;
}

:root {
    --white: white;
    --black: black;
    --grey: #f5f3f4;
    --red: #cc0100;

    --swiper-pagination-color: var(--red);
    --swiper-pagination-bullet-inactive-color: rgba(0,0,0,0);
    --swiper-pagination-bullet-inactive-opacity: 1;
}

/*div {*/
/*    border: 1px solid black;*/
/*}*/

* {
    font-family: 'Gilroy', sans-serif;
    /*font-family: 'Questrial', sans-serif;*/
}


body {
    margin: 0;
}

h1, h2, h3, h4, p {
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    margin: 5px 0 0;
    font-size: .7rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
}

#navbar {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    font-size: 1.4rem;
}

.logo {
    margin: 0 0 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 110px;
}

#nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;

}


#nav-links a {
    display: block;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
}

#nav-links > a:link, #nav-links > a:visited, #nav-links > a:active   {
    color: var(--black);
}

#nav-links a:hover {
    color: var(--red);
}

#nav-links .horizontal-line {
    display: none;
}

#mobile-menu-trigger-box {
    margin: 10px;
}

#mobile-menu-trigger {
    width: 100px;
    height: 38px;
    color: var(--white);
    background-color: var(--red);
    border: 1px solid var(--grey);
    border-radius: 20px;
    cursor: pointer;
    display: none;
}

.first-section {
    display: flex;
    justify-content: flex-start;
}

.first-section > div {
    width: 50%;
}


.main-swiper-slide {
    filter: blur(4px);
}

.swiper-slide-active, .swiper-slide-next {
    filter: blur(0);
}

.swiper-pagination {
    text-align: left !important;
}

.swiper-pagination-bullet {
    border: 1px solid var(--red);
}

.upcoming-training-courses {
    display: flex;
    justify-content: flex-start;
}

.upcoming-training-courses > header {
    width: 30%;
    padding: 20px;
}

.courses {
    display: flex;
    justify-content: flex-start;
}

.course-image-box {
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.first-parallax {
    position: relative;
    margin: 0 20px;
    background-image: url("assets/img/20230606_172256.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.first-parallax-red-box {
    position: absolute;
    border: 3px solid var(--red);
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.first-parallax-red-box > header {
    color: white;
    max-width: 40%;
    margin: 20px;
}

.first-parallax-red-box > header > p {
    font-size: 1.4rem;
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    line-height: 1.6em;
}

.first-parallax-red-box > aside {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 5px;
}

.first-parallax-red-box > aside > a {
    color: white;
}

.first-parallax-red-box > aside > a:hover {
    color: black;
}

.first-parallax-red-box > aside > a:not(:last-child){
    margin-bottom: 15px;
}

.first-parallax-red-box > aside > a > svg {
    height: 20px;
    width: 20px;
}

/*.our-trainers-slider-item {*/
/*    width: 230px;*/
/*    height: 500px !important;*/
/*    text-align: center;*/
/*    padding: 30px 20px;*/
/*    display: flex !important;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*}*/

/*.our-trainers-slide-img {*/
/*    width: 200px;*/
/*    height: 200px;*/
/*    overflow: hidden;*/
/*    border-radius: 50%;*/
/*    border: 2px solid var(--red);*/
/*}*/

/*.our-trainers-slide-img img {*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*    object-position: center;*/
/*}*/


.mySwiper2 {
    width: 100%;
    height: 100%;
}

.our-trainers-swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-trainers-slide-img {
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--red);
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.our-knowledge {
    background-color: var(--grey);
    display: flex;
    padding: 40px 0 40px 40px;
}

.our-knowledge > header {
    width: 40vw;

}

.our-knowledge > header > hr {
    float: left;
}

.our-knowledge > header > p {
    line-height: 1.5;
    clear: both;
}

.our-knowledge-content {
    width: 60vw;
}

#our-knowledge-button {
    background-color: var(--red);
    border: 0;
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    padding: .8em 1.8em;
    margin-top: 20px;
    font-size: 1rem;
    transition: .2s;
}

#our-knowledge-button:hover {
    transform: scale(0.9);
}


.slider-container {
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 1450px;

}

.slider-item {
    background-color: white;
    width: 230px;
    height: 28em;
    text-align: center;
    padding: 30px 20px;
    border-left: 15px solid var(--grey);
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.slide-img {
    position: relative;
    width: 230px;
    height: 180px;
    overflow: hidden;
}

.slide-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slider-red-square {
    position: absolute;
    border: 3px solid var(--red);
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-item-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60%;
}

.slider-item-text > div > h4 {
    font-size: 1.5rem;
    margin-top: 20px;
}

.slider-item-text > div > p {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 25px 0;
}

.our-knowledge-slide-button {
    background-color: var(--red);
    border: 0;
    color: var(--white);
    cursor: pointer;
    padding: .8em 2.5em;
    transition: .2s;
}

.our-knowledge-slide-button:hover {
    transform: scale(0.9);
}


.our-expertise {
    padding: 60px;
    text-align: center;
}

.folders {
    display: flex;
    margin: 80px 0;
}

.folder {
    background-color: var(--grey);
    padding: 20px;
    margin: 15px;

    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100 - 30vw);
    min-height: 300px;
}

.folder header {
    margin-top: 40px;
}

.folder > p {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    margin: 20px 0;
}

.folder-image-box {
    height: 150px;
    width: 300px;
    overflow: hidden;
}

#folders-button {
    background-color: var(--black);
    color: var(--white);
    padding: 10px 60px;
    cursor: pointer;
    transition: .2s;
}

#folders-button:hover {
    transform: scale(0.95);
}

.second-parallax {
    background-image: url("assets/img/20230606_172256.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.second-parallax-img-box {
    width: 200px;
    height: 100px;
}

.second-parallax-img-box > img {
    width: 100%;
}

footer {
    background-color: var(--red);
    color: var(--white);
    padding: 100px 50px 50px;
    display: flex;
    justify-content: space-between;
}

footer > header {
    min-width: 220px;
    padding-right: 20px;
}

footer > header > hr {
    float: left;
}

footer > header > p {
    clear:both;
    font-weight: 400;
    font-size: 2rem;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    font-size: 1.5rem;
}

.footer-contact a {
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

.footer-contact a:link, .footer-contact a:visited, .footer-contact a:active   {
    color: var(--white);
}

.footer-contact a:hover {
    color: var(--black);
}

form {
    display: block;
}

.label-div {
    position: relative;
}

label > input {
    border: 4px solid var(--white);
    border-radius: 15px;
}


input, textarea {
    padding: 10px 0;
    margin-top: 20px;
    border: none;
    outline: none;
    height: 100%;
    background-color: rgba(0,0,0,0);
}

input {
    width: calc(100% - 8px);
}

textarea {
    width: 100%;
    border: 4px solid var(--white);
    border-radius: 10px;
}

input::placeholder, textarea::placeholder {
    opacity: 0;
}

.contact-form span {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(30px);
    font-size: 1.2rem;
    transition-duration: 300ms;
    font-weight: bold;
    border-radius: 5px;
    background-color: var(--red);
    margin-left: 10px;
}

label:focus-within > span,
input:not(:placeholder-shown) + span,
textarea:not(:placeholder-shown) + span{
    transform: translateY(5px);
}

label:focus-within > span {
    color: var(--black);
}

label:focus-within > input {
    border: 4px solid var(--black);
}

textarea:focus-within {
    border: 4px solid var(--black);
}

#message {
    width: 40vw;
    height: 40vh;
}


#submit-button {
    color: var(--red);
    background-color: var(--white);
    font-weight: bold;
    width: 10em;
    height: 2.5em;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s;
    border-radius: 15px;
}

#submit-button:hover {
    transform: scale(0.9);
    color: var(--white);
    background-color: var(--black);
}

@media screen and (max-width: 900px) {

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: .5rem;
    }


    section {
        max-width: 900px;
    }

    #navbar {
        display: block;
        padding: 10px;
        font-size: 1rem;
    }

    #nav-links {
        display: none;
        justify-content: center;
    }

    #nav-links ul {
        display: flex;
        flex-direction: column;
        background-color: var(--red);
        width: 100%;
    }
    #nav-links a {
        text-align: center;
        color: white;
    }

    #nav-links a:hover {;
        color: grey;
    }

    #nav-links .horizontal-line {
        display: block;
        width: 100%;
        border-color: var(--white);
    }

    #mobile-menu-trigger {
        display: block;
    }


    .our-knowledge {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .our-knowledge > header {
        width: 100%
    }


    .our-knowledge-content {
        margin-top: 40px;
        width: 100%;
    }

    .folders {
        display: flex;
        flex-direction: column;
    }

    .folder {
        margin: 40px 0;
    }

    #folders-button {
        padding: 10px 0;
        width: 100%;
    }

    footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 25px 25px;
    }

    footer header {
        padding-right: 0;
    }

    #message {
        width: 80vw;
    }


}